<%- include('./partials/head')%>
<div class="container">
  <div class="row">
        <div class="col col-md-2">
          <img src="https://image.flaticon.com/icons/svg/134/134349.svg"  width="150" height="150">

        </div>
        <div class="col col-md-3">
          ceritanya nama barang :<%= %> <br>
          ceritanya harga       :<%= %> <br>
          <button type="button" class="btn btn-primary">BELI</button>
        </div>
  </div>
</div>

<%- include('./partials/footer')%>
