<%- include('./partials/head')%>

<div class="container">
    <div class="nama_barang">
      nama barang<br>
    </div>
    <div class="alamat_user">
        <textarea name="name" cols="50"><%= %></textarea>
    </div>
    <br>
        <table>
          <tr>
            <th>jumlah </th>
            <th> </th>
            <th>harga  </th>
          </tr>
          <tr>
            <td><input type="text" name="jumlah_barang" value="1" maxlength="6" size="5"></td>
            <td> </td>
            <td>tampilkan harga</td>
          </tr>
        </table>

</div>


<%- include('./partials/footer')%>
