<%- include('./partials/head')%>

  <div class="container">
    <form class="" action="halaman_profile" method="post" align ="center">
      <table>
        <tr><input type="text" name="edit_nama" value="nama yang akan diedit"></tr>
        <tr><input type="text" name="edit_alamat" value="alamat yang akan diedit"></tr>
        <tr><input type="text" name="edit_notelp" value="no_telp yang akan diedit"></tr>
        <tr><select class="" name="edit_gender">
          <option value="--select--">--SELECT--</option>
          <option value="male">MALE</option>
          <option value="female">FEMALE</option>
        </select></tr>
    </table>
    </form>
  </div>

<%- include('./partials/footer')%>
