<%- include('./partials/head')%>

  <div class="container">
    <form class="" action="halaman_barang" method="post" align ="center">
      <div class="row">
        <input type="text" name="edit_nama" value="barang yang akan diedit">
      </div>
      <div class="row">
        <input type="text" name="edit_alamat" value="harga yang akan diedit">
      </div>
      <div class="row">
          <input type="text" name="" value="deskripsi barang" size="50">
          <button type="button" class="btn btn-primary">SAVE ALL</button
      </div>
    </form>
  </div>

<%- include('./partials/footer')%>
